In [1]:
grades = [78, 85, 100, 99, 56, 42, 87]

In [3]:
type(grades)

list

In [5]:
grades.pop()

87

In [11]:
for grade in grades:
    if grade >=90:
        print('The grade is A ', grade)
    elif grade >=80:
        print ("B", grade)
    elif grade >=70:
        print("boo", grade)
    else:
        print("like, bad")

boo 78
B 85
The grade is A  100
The grade is A  99
like, bad
like, bad

In [13]:
print("the average grade is",sum(grades) / len(grades))

the average grade is 76.66666666666667

In [16]:
"Jen" * 12

'JenJenJenJenJenJenJenJenJenJenJenJen'

In [17]:
"Jen" + str(12)

'Jen12'

In [24]:
name = "Jen Campbell Shurley"
name.split()

['Jen', 'Campbell', 'Shurley']

In [25]:
name.split()[0]

'Jen'

In [26]:
name.split()[-1]

'Shurley'

In [27]:
name.split()[:5]

['Jen', 'Campbell', 'Shurley']

In [28]:
name.split()[::-1]

['Shurley', 'Campbell', 'Jen']

In [30]:
"_".join(name.split())

'Jen_Campbell_Shurley'

In [38]:
my_sum = 0

for x in range(10):
    my_sum += x
my_sum

45

In [39]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
list("Jen")

['J', 'e', 'n']

In [45]:
"".join(list("Jen")[::-1]).lower()

'nej'

In [47]:
list("".join(list("Jen")[::-1]).lower())

['n', 'e', 'j']

In [51]:
for letter in list("".join(list("Jen")[::-1]).lower()):
    print(letter.upper())

N
E
J

In [52]:
for letter in list("".join(list("Jen")[::-1]).lower()):
    print(letter + "ay")

nay
eay
jay

In [53]:
import csv

In [56]:
with open('/Users/jennifershurley/Downloads/house_data.csv') as f:
    reader = csv.DictReader(f)
    for row in reader:
        print(row)
        print(type(row))
        break

OrderedDict([('id', '7129300520'), ('date', '20141013T000000'), ('price', '221900'), ('bedrooms', '3'), ('bathrooms', '1'), ('sqft_lot', '5650'), ('sqft_living', '1180'), ('floors', '1'), ('waterfront', '0'), ('view', '0'), ('condition', '3'), ('grade', '7'), ('sqft_above', '1180'), ('sqft_basement', '0'), ('yr_built', '1955'), ('zipcode', '98178'), ('sqft_living15', '1340'), ('sqft_lot15', '5650')])
<class 'collections.OrderedDict'>

In [57]:
#pasted from head -5  
#id,date,price,bedrooms,bathrooms,sqft_lot,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,zipcode,sqft_living15,sqft_lot15
# 7129300520,20141013T000000,221900,3,1,5650,1180,5650,1,0,0,3,7,1180,0,1955,98178,1340,5650
# 6414100192,20141209T000000,538000,3,2.25,7242,2570,7242,2,0,0,3,7,2170,400,1951,98125,1690,7639
# 5631500400,20150225T000000,180000,2,1,10000,770,10000,1,0,0,3,6,770,0,1933,98028,2720,8062
# 2487200875,20141209T000000,604000,4,3,5000,1960,5000,1,0,0,5,7,1050,910,1965,98136,1360,5000

In [59]:
my_data = {"Jen": 22, "Delia": 15, "Seb": 8}

In [61]:
my_data["Delia"]

15

In [62]:
for key, value in my_data.items():
    print(key,value)

Jen 22
Delia 15
Seb 8

In [64]:
with open('/Users/jennifershurley/Downloads/house_data.csv') as f:
    reader = csv.DictReader(f) #not reading the file into memory, line by line
    for row in reader:
        print(row.keys())
        print(type(row))
        break

odict_keys(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_lot', 'sqft_living', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'zipcode', 'sqft_living15', 'sqft_lot15'])
<class 'collections.OrderedDict'>

In [5]:
import csv
numrows = 0
total_volume = 0
with open('/Users/jennifershurley/Downloads/house_data.csv') as f:
    reader = csv.DictReader(f)
    for row in reader:
        numrows += 1
        total_volume += int(row['bedrooms'])

In [6]:
numrows
total_volume

72854

In [7]:
data = ["Jen", "Jen", "Delia", "Delia"]

In [8]:
set(data)

{'Delia', 'Jen'}

In [11]:
set?
#run this to show what it does