In [1]:
import pandas as pd

In [2]:
%ls

01-Ins_JupyterIntro/          09-Ins_ReadingWritingCSV/
02-Stu_NetflixRemix/          10-Stu_GoodReads/
03-Ins_IntroToPandas/         11-Stu_GoodReadsSummary/
04-Stu_DataFrameShop/         GrammarandProductReviews.csv*
05-Ins_DataFunctions/         analytics_paths.csv*
06-Stu_TrainingGrounds/       jens_practice_notebook.ipynb
07-Ins_ColumnManipulation/    warmup.ipynb
08-Stu_Hey_Arnold/

In [3]:
df = pd.read_csv("analytics_paths.csv")

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.head()

,MCF Channel Grouping Path,Conversions,Conversion Value,Unnamed: 3,Unnamed: 4
0,Direct > Direct,"1,246",47709.22,NaN,NaN
1,Referral > Direct,"1,156",48734.09,NaN,NaN
2,Organic Search > Direct,818,5353.64,NaN,NaN
3,Direct > Direct > Direct,587,27418.20,NaN,NaN
4,Referral > Direct > Direct,472,20511.57,NaN,NaN

In [6]:
df.columns

Index(['MCF Channel Grouping Path', 'Conversions', 'Conversion Value',
       'Unnamed: 3', 'Unnamed: 4'],
      dtype='object')

In [8]:
#subsetting the dataframe on first 3 columns
df = df[df.columns[:3]]

In [9]:
df.head(1)

  MCF Channel Grouping Path Conversions  Conversion Value
0           Direct > Direct       1,246          47709.22

In [10]:
df.tail(10)

,MCF Channel Grouping Path,Conversions,Conversion Value
241,Referral > Direct > Direct > Referral > Direct...,2,199.00
242,Referral > Direct > Referral > Direct > Direct,2,318.00
243,Referral > Direct > Referral > Referral > Refe...,2,99.00
244,Referral > Referral > Referral > Direct > Dire...,2,119.00
245,Referral > Referral > Referral > Referral > Re...,2,99.00
246,Referral > Referral > Referral > Organic Searc...,2,149.00
247,Referral > Organic Search > Referral > Direct ...,2,485.00
248,Referral > Social Network > Referral > Referral,2,627.00
249,Organic Search > Direct > Referral > Direct > ...,2,17.59
250,Organic Search > Referral > Referral > Referra...,2,279.00

In [11]:
df.iloc[0]

MCF Channel Grouping Path    Direct > Direct
Conversions                            1,246
Conversion Value                     47709.2
Name: 0, dtype: object

In [13]:
df.dtypes #notice that Conversions didn't get converted to float

MCF Channel Grouping Path     object
Conversions                   object
Conversion Value             float64
dtype: object

In [15]:
df.shape

(251, 3)

In [17]:
df.describe() #a statistical summary of columns it finds 
#when you see average worth 5 times median, your data is dominated by outliers

       Conversion Value
count        251.000000
mean        1459.798845
std         5121.855191
min            2.990000
25%          119.000000
50%          298.000000
75%          751.500000
max        48734.090000

In [18]:
df.info() #non-null objects

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 3 columns):
MCF Channel Grouping Path    251 non-null object
Conversions                  251 non-null object
Conversion Value             251 non-null float64
dtypes: float64(1), object(2)
memory usage: 6.0+ KB

In [20]:
df.Conversions.values #returns numpy array

array(['1,246', '1,156', '818', '587', '472', '370', '338', '320', '318',
       '247', '221', '149', '131', '125', '121', '99', '94', '81', '78',
       '77', '75', '63', '62', '61', '55', '52', '49', '46', '45', '42',
       '42', '39', '35', '35', '32', '31', '30', '30', '30', '30', '30',
       '27', '26', '26', '24', '24', '24', '22', '21', '20', '20', '19',
       '19', '19', '19', '18', '17', '17', '17', '17', '16', '15', '15',
       '14', '14', '14', '13', '13', '13', '13', '13', '12', '12', '12',
       '11', '11', '11', '11', '11', '11', '11', '10', '10', '10', '10',
       '9', '9', '9', '9', '9', '9', '9', '8', '8', '8', '8', '8', '8',
       '8', '8', '8', '8', '8', '8', '8', '7', '7', '7', '7', '7', '7',
       '7', '7', '7', '7', '6', '6', '6', '6', '6', '6', '6', '6', '6',
       '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5',
       '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5',
       '5', '5', '5', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4',
       '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4',
       '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4',
       '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4', '4',
       '4', '4', '4', '4', '3', '3', '3', '3', '3', '3', '3', '3', '3',
       '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3', '3',
       '3', '3', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2',
       '2', '2', '2', '2', '2', '2', '2', '2', '2', '2'], dtype=object)

In [21]:
df['Conversion Value'] #if you had an uniterruped string you could do df.Conversions

0      47709.22
1      48734.09
2       5353.64
3      27418.20
4      20511.57
5      16339.34
6      11734.82
7       4033.20
8      12406.28
9      12316.31
10     13745.72
11      9793.66
12      4456.31
13      4859.07
14      1113.10
15      3204.00
16      2860.98
17      1059.63
18      2558.51
19      3188.00
20      2820.14
21      3486.10
22       531.94
23      3387.09
24      2182.70
25      3806.61
26       109.57
27      1988.92
28       174.92
29      2346.58
         ...
221      119.00
222      338.00
223       79.00
224       99.00
225      427.00
226      119.00
227      209.00
228      169.00
229       17.59
230      796.00
231      119.00
232      258.00
233      507.00
234      398.00
235       34.37
236       93.67
237      378.00
238      169.00
239      149.00
240       41.59
241      199.00
242      318.00
243       99.00
244      119.00
245       99.00
246      149.00
247      485.00
248      627.00
249       17.59
250      279.00
Name: Conversion Value, Length: 251, dtype: float64

In [23]:
df['Conversion Value'].sum() #can do ave, max, min, unique and other callables

366409.50999999995

In [24]:
df['Conversion Value'].unique().shape

(188,)

In [25]:
df['MCF Channel Grouping Path'].unique().shape

(251,)

In [27]:
df['MCF Channel Grouping Path'].unique()[0]

'Direct > Direct'

In [28]:
add2 = lambda x: x+2
add2(10)

12

#used dictionary notation - pandas is cool with that 
#map goes row by row, takes value from column, passes it into whatever function you provide for it
#eval

In [35]:
df['clean_conv'] = df['Conversions'].map(lambda x: eval(x.replace(",","")))

In [36]:
df.dtypes

MCF Channel Grouping Path     object
Conversions                   object
Conversion Value             float64
clean_conv                     int64
dtype: object

In [37]:
df.head()

    MCF Channel Grouping Path Conversions  Conversion Value  clean_conv
0             Direct > Direct       1,246          47709.22        1246
1           Referral > Direct       1,156          48734.09        1156
2     Organic Search > Direct         818           5353.64         818
3    Direct > Direct > Direct         587          27418.20         587
4  Referral > Direct > Direct         472          20511.57         472

In [38]:
#create new column called first_channel by creating a map call on MCF... grouping column. 
#when you call lamdba split to list > pull first element out by getting element[0]
#put the 0 index on the result of the split. when you did x[0] it didn't like that because 
#the lambda function so you can't modify it before you use it. 
#x is a string.

In [50]:
df['first_channel'] = df['MCF Channel Grouping Path'].map(lambda x: (x.split(">")[0]))

In [52]:
df.head()

,MCF Channel Grouping Path,Conversions,Conversion Value,clean_conv,first_channel
0,Direct > Direct,"1,246",47709.22,1246,Direct
1,Referral > Direct,"1,156",48734.09,1156,Referral
2,Organic Search > Direct,818,5353.64,818,Organic Search
3,Direct > Direct > Direct,587,27418.20,587,Direct
4,Referral > Direct > Direct,472,20511.57,472,Referral

In [53]:
df.first_channel.value_counts()

Direct                117
Referral               84
Organic Search         37
Paid Search             5
Social Network          4
Other Advertising       4
Name: first_channel, dtype: int64

In [54]:
#how do we get revenue for first channel?
#split, apply, combine

In [55]:
df.groupby('first_channel').sum() #this is like dragging first channel into rows of pivot table

                    Conversion Value  clean_conv
first_channel
Direct                     185245.53        4181
Organic Search              25981.59        1815
Other Advertising            2961.52          77
Paid Search                   425.12          19
Referral                   150005.63        3260
Social Network               1790.12          74

In [56]:
df.groupby('first_channel').mean()

                    Conversion Value  clean_conv
first_channel
Direct                   1583.295128   35.735043
Organic Search            702.205135   49.054054
Other Advertising         740.380000   19.250000
Paid Search                85.024000    3.800000
Referral                 1785.781310   38.809524
Social Network            447.530000   18.500000

In [59]:
df.groupby('first_channel').agg(['sum','mean']).to_clipboard() #looks for sum and ave for each

In [66]:
df.sort_values(by=['Conversion Value'], ascending=False)['first_channel'].value_counts().head()

Direct             117
Referral            84
Organic Search      37
Paid Search          5
Social Network       4
Name: first_channel, dtype: int64

In [69]:
df.query('clean_conv > 300').query('clean_conv < 800')

,MCF Channel Grouping Path,Conversions,Conversion Value,clean_conv,first_channel
3,Direct > Direct > Direct,587,27418.20,587,Direct
4,Referral > Direct > Direct,472,20511.57,472,Referral
5,Referral > Referral,370,16339.34,370,Referral
6,Direct > Referral,338,11734.82,338,Direct
7,Organic Search > Direct > Direct,320,4033.20,320,Organic Search
8,Direct > Direct > Direct > Direct,318,12406.28,318,Direct

In [78]:
df[ (df['clean_conv'] > 300) & (df['first_channel'] == 'Direct ') ]
#subsets if corresponding row returns true - a common filtering pattern
#calling df on intersection of two conditions in parentheses

,MCF Channel Grouping Path,Conversions,Conversion Value,clean_conv,first_channel
0,Direct > Direct,"1,246",47709.22,1246,Direct
3,Direct > Direct > Direct,587,27418.20,587,Direct
6,Direct > Referral,338,11734.82,338,Direct
8,Direct > Direct > Direct > Direct,318,12406.28,318,Direct